body {
  background-color: #f1f2f4;
}

.main {
  background-image: url(img/white_rain.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.addition {
  background-color: #f1f2f4;
}


/*Main part of the card*/
.main_part{
  position: sticky;
  top: 60%;
  bottom: 2%;
  margin: 2px;
  padding: 2px;
}
#current_temp{
  font-size: 12vmin;
  margin: 10px;
 
}
#city{
  font-size: 6vmin;
}

.current_emoji {
    font-size: 6vmin;
    padding: 5px;

}

.card-group {
  margin: 5% 10%;
}


#cels, #fahr, .dash{
  font-size: 3vmin;
}


.card-text {
  font-size: 2.5vmin;
  padding: 5px;
}
/*Second part of the card*/

.city_link {
  margin: 2% 0;
  padding: 0 15px;
}

h5{
  margin: 2% 0;
  padding: 0 5px;
}

.cloudy,
.humidity,
.wind,
.rain {
  margin: 2% 0;
  padding: 0 3px;
}



/*Future temperature*/
.day_emoji {
  font-size: 6vmin;
}

.day,
.day_emoji,
.temperature {
  text-align: center;
}

/*Footer*/
.footer_link{
  text-align: center;
}