body {
  background-color: #9eadb8;
  font-family: 'Josefin Sans', sans-serif;
}

.main {
  /*background-image: url(img/white_rain.jpg);
  background-size: cover;
  background-repeat: no-repeat;*/
  color: #484d51;
  border-color: #253E45;
  background: linear-gradient(211deg, rgb(17, 18, 18) 8%, rgb(102, 212, 241) 94%);
 
  /*background-color: #8facc0;*/
}


.addition {
  background-color: #253E45;
  
  
}

#units a{
  color: #383c3f;
}

.city_link a, 
.footer_link a {
  color: #131317;
}

/*Main part of the card*/
.main_part {
  position: sticky;
  top: 60%;
  bottom: 2%;
  margin: 2px;
  padding: 2px;
}
#current_temp {
  font-size: 12vmin;
  margin: 10px 0 10px 10px;
}

.current_city {
  padding: 20px 15px 0 15px;
}
#city {
  font-size: 6vmin;
    color: #932a08;
    font-family: 'Yeseva One', cursive;
    text-transform: capitalize;

}

#current_emoji {
  max-width: 100%;
}

.card-group {
  margin: 5% 15%;
}

#units {
  font-size: 3vmin;
  padding: 30px 10px 10px 0;
}

 a.active {
  cursor: default;
  
}

a.active:hover {
  text-decoration: none;
}

.card-text {
  font-size: 2.5vmin;
  padding: 0 15px;
}

.day{
  font-family: 'Yeseva One', cursive;
}
/*Second part of the card*/

.form-control {
  background-color: transparent;
  border: 1px solid #6c757d;
}

.form-control:focus{
  background-color: transparent;
}

::placeholder {
      color: #932a08 !important;
}



.city_link {
  margin: 2% 0;
  padding: 0 15px;
}

h5 {
  margin: 2% 0;
  padding: 0 5px;
  color: #932a08;
  font-family: 'Yeseva One', cursive;
}

.discription,
.cloudy,
.humidity,
.wind,
.rain {
  margin: 2% 0;
  padding: 0 3px;
}

/*Future temperature*/
.future {
  background-color: #64aec1;
  color: #484d51;
}

.day_emoji {
  font-size: 6vmin;
}

.day,
.day_emoji,
.temperature {
  text-align: center;
}

/*Footer*/
.footer_link {
  text-align: center;
}

.creators_name{
  color: #932a08;
}
